

body{

}

.jumbotron{
    background: rgba(141, 58, 6, 0.88);
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    height: 100%;
    margin: auto;
}



#wrapper{
    background-image: url('../img/programming.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 640px;
}




#pagename{
    background: white;
    font-size: 5vw;
    border-radius: 20px;
    border:4px black solid;
}

#description{
    color:white;
    font-size: 2vw;
}
