

body{

}

.jumbotron{
    background: rgba(141, 58, 6, 0.88);
}



#wrapper{
    background-image: url('../img/programming.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 640px;
}




#pagename{
    background: white;
    font-size: 5vw;
    border-radius: 10%;
    border:2px black solid;
}

#description{
    color:white;
    font-size: 2vw;
}
